@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@* @section Styles{
    <style>
        body{
            background-color: #666666;
            color: #fff;
        }
    </style>
}

@section Scripts{
    <script>
        alert("Privacy'desiniz...");
    </script>
}
 *@