@model LoginViewModel

@if (!string.IsNullOrWhiteSpace(ViewBag.Error))
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<div class="container">
    <form asp-controller="Auth" asp-action="Login" method="post">
        <div>
            <label asp-for="Email">Email</label>
            <input asp-for="Email" />
        </div>
        <div>
            <label asp-for="Password">Password</label>
            <input asp-for="Password" />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
