@{
    ViewData["Title"] = "Home Page";
    int i = 10;
    i++;
}

<div class="text-center">
    @* <h1 class="display-4">BE124 - @(i-1) </h1> *@
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Şu andaki zaman: <span id="time"></span> </p>

    <button id="btnStart" class="btn btn-success" >Başlat</button>
    <button id="btnPause" class="btn btn-warning" >Duraklat</button>
</div>


<script>
    const time = document.getElementById('time');
    const start = document.getElementById('btnStart');
    const pause = document.getElementById('btnPause');
    let handler;

    start.addEventListener('click', () => {
        handler = setInterval(() => {
            fetch('home/time')
                .then(res => res.json())
                .then(data => time.innerText = data.time);
        }, 250)
    });

    pause.addEventListener('click', () => {
        clearInterval(handler);
    })

</script>  